<html xmlns:th="http://www.thymeleaf.org">
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="list-group">
					<a th:each="item : ${data}" th:text="${{item.name}}" th:href="@{'javascript:void(0)'}" th:onclick="'findDetail(\'' + ${item.id} + '\');'"></a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script>
	$.getScript("/js/modal/companyList.js");

    //     $.when(
    //     	    $.getScript( "/mypath/myscript1.js" ),
    //     	    $.getScript( "/mypath/myscript2.js" ),
    //     	    $.getScript( "/mypath/myscript3.js" ),
    //     	    $.Deferred(function( deferred ){
    //     	        $( deferred.resolve );
    //     	    })
    //     	).done(function(){

    //     	    //place your code here, the scripts are all loaded

    //     	});
</script>
<!-- <!-- Add -->
<!-- 	<form id="form3" style="display: none;"> -->
<!-- 		代號: -->
<!-- 		<br> -->
<!-- 		<input type="text" name="id" value="9999"> -->
<!-- 		<br> -->
<!-- 		簡稱: -->
<!-- 		<br> -->
<!-- 		<input type="text" name="name" value="測試"> -->
<!-- 		<br> -->
<!-- 		全名: -->
<!-- 		<br> -->
<!-- 		<input type="text" name="companyDetail[name]" value="測試有限公司" /> -->
<!-- 		<br> -->
<!-- 		地址: -->
<!-- 		<br> -->
<!-- 		<input type="text" name="companyDetail[address]" value=" 台北市信義區信義路五段7號73樓"> -->
<!-- 		<br> -->
<!-- 		電話: -->
<!-- 		<br> -->
<!-- 		<input type="text" name="companyDetail[phone]" value="037-460213"> -->
<!-- 		<br> -->
<!-- 		統一編號: -->
<!-- 		<br> -->
<!-- 		<input type="text" name="companyDetail[guiNumber]" value="00955531"> -->
<!-- 		<br> -->
<!-- 		備註: -->
<!-- 		<br> -->
<!-- 		<input type="text" name="companyDetail[memo]" value="這是備註"> -->
<!-- 		<br> -->
<!-- 		<input type="button" onclick="saveFn()" value="存檔" /> -->
<!-- 		<input type="button" onclick="ShowHideForm('#form1', ['#form3', '#form4'])" value="回上一頁" /> -->
<!-- 	</form> -->
<!-- 	<!-- Delete -->
<!-- 	<form id="form4" style="display: none;"> -->
<!-- 		代號: -->
<!-- 		<br> -->
<!-- 		<input type="text" name="id" value="9999"> -->
<!-- 		<input type="button" onclick="deleteFn()" value="刪除" /> -->
<!-- 		<input type="button" onclick="ShowHideForm('#form1', ['#form3', '#form4'])" value="回上一頁" /> -->
<!-- 	</form> -->
<!-- Detail -->
<!-- 		<form id="form3"> -->
<!-- 			<div class="form-row"> -->
<!-- 				<div class="form-group col-md-1"> -->
<!-- 					<label for="detail_id">代號</label> -->
<!-- 					<input type="text" class="form-control" id="main_id" placeholder="代號" maxlength="5"> -->
<!-- 				</div> -->
<!-- 				<div class="form-group col-md-2"> -->
<!-- 					<label for="detail_name">簡稱</label> -->
<!-- 					<input type="text" class="form-control" id="main_name" placeholder="簡稱"> -->
<!-- 				</div> -->
<!-- 				<div class="form-group col-md-6"> -->
<!-- 					<label for="detail_fullName">全名</label> -->
<!-- 					<input type="text" class="form-control" id="detail_name" placeholder="全名"> -->
<!-- 				</div> -->
<!-- 				<div class="form-group col-md-3"> -->
<!-- 					<label for="detail_guiNumber">統一編號</label> -->
<!-- 					<input type="text" class="form-control" id="detail_guiNumber" placeholder="統一編號" maxlength="8"> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="form-row"> -->
<!-- 				<div class="form-group col-md-4"> -->
<!-- 					<label for="detail_address">地址</label> -->
<!-- 					<input type="text" class="form-control" id="detail_address" placeholder="地址"> -->
<!-- 				</div> -->
<!-- 				<div class="form-group col-md-4"> -->
<!-- 					<label for="detail_phone">電話</label> -->
<!-- 					<input type="text" class="form-control" id="detail_phone" placeholder="電話"> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="form-row"> -->
<!-- 				<div class="form-group col-md-4"> -->
<!-- 					<label for="detail_memo">備註</label> -->
<!-- 					<input type="text" class="form-control" id="detail_memo" placeholder="備註"> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</form> -->