<html xmlns:th="http://www.thymeleaf.org">
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="list-group">
					<a th:each="item : ${data}" th:text="${{item.name}}" th:href="@{'javascript:void(0)'}" th:onclick="'findDetail(\'' + ${item.id} + '\');'"></a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<script>
	$.getScript("/js/modal/companyList.js");

    //     $.when(
    //     	    $.getScript( "/mypath/myscript1.js" ),
    //     	    $.getScript( "/mypath/myscript2.js" ),
    //     	    $.getScript( "/mypath/myscript3.js" ),
    //     	    $.Deferred(function( deferred ){
    //     	        $( deferred.resolve );
    //     	    })
    //     	).done(function(){

    //     	    //place your code here, the scripts are all loaded

    //     	});
</script>