<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="UTF-8" />
<title>公司基本資料</title>
<link href="/webjars/bootstrap/4.1.1/dist/css/bootstrap.min.css" rel="stylesheet" media="screen" />
</head>
<style>
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
	text-align: right;
}

option:disabled {
	background: DarkGray;
}

.RbtnMargin {
	margin-right: 5px;
}

.list-group-item-action:focus, .list-group-item-action:hover {
	background-color: LightGreen;
}
</style>
<body>
	<div class="container">
		<!-- Query -->
		<form>
			<div class="form-row">
				<div class="col-md-5">
					<input type="text" class="form-control" placeholder="客戶代碼或名稱" name="input" id="input" value="一">
				</div>
				<div class="col-md-3">
					<input type="button" class="btn btn-default" onclick="findList(false);" value="查詢" />
					<input type="button" class="btn btn-success" value="新增" onclick="saveFn();" disabled="disabled" />
				</div>
			</div>
		</form>
		<!-- List -->
		<form id="form2">
			<div class="form-row">
				<div class="col-md-5">
					<div class="list-group" id="resultList"></div>
				</div>
			</div>
			<table id="detailTable"></table>
			<table id="chargeTable"></table>
		</form>
		<!-- Detail -->
		<form id="form3">
			<div class="form-row">
				<div class="form-group col-md-1">
					<label for="detail_id">代號</label>
					<input type="text" class="form-control" id="main_id" placeholder="代號" maxlength="5">
				</div>
				<div class="form-group col-md-2">
					<label for="detail_name">簡稱</label>
					<input type="text" class="form-control" id="main_name" placeholder="簡稱">
				</div>
				<div class="form-group col-md-6">
					<label for="detail_fullName">全名</label>
					<input type="text" class="form-control" id="detail_name" placeholder="全名">
				</div>
				<div class="form-group col-md-3">
					<label for="detail_guiNumber">統一編號</label>
					<input type="text" class="form-control" id="detail_guiNumber" placeholder="統一編號" maxlength="8">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="detail_address">地址</label>
					<input type="text" class="form-control" id="detail_address" placeholder="地址">
				</div>
				<div class="form-group col-md-4">
					<label for="detail_phone">電話</label>
					<input type="text" class="form-control" id="detail_phone" placeholder="電話">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="detail_memo">備註</label>
					<input type="text" class="form-control" id="detail_memo" placeholder="備註">
				</div>
			</div>
		</form>
	</div>
	<div id="content"></div>
	<!-- Add -->
	<form id="form3" style="display: none;">
		代號:
		<br>
		<input type="text" name="id" value="9999">
		<br>
		簡稱:
		<br>
		<input type="text" name="name" value="測試">
		<br>
		全名:
		<br>
		<input type="text" name="companyDetail[name]" value="測試有限公司" />
		<br>
		地址:
		<br>
		<input type="text" name="companyDetail[address]" value=" 台北市信義區信義路五段7號73樓">
		<br>
		電話:
		<br>
		<input type="text" name="companyDetail[phone]" value="037-460213">
		<br>
		統一編號:
		<br>
		<input type="text" name="companyDetail[guiNumber]" value="00955531">
		<br>
		備註:
		<br>
		<input type="text" name="companyDetail[memo]" value="這是備註">
		<br>
		<input type="button" onclick="saveFn()" value="存檔" />
		<input type="button" onclick="ShowHideForm('#form1', ['#form3', '#form4'])" value="回上一頁" />
	</form>
	<!-- Delete -->
	<form id="form4" style="display: none;">
		代號:
		<br>
		<input type="text" name="id" value="9999">
		<input type="button" onclick="deleteFn()" value="刪除" />
		<input type="button" onclick="ShowHideForm('#form1', ['#form3', '#form4'])" value="回上一頁" />
	</form>
</body>
<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="/webjars/underscorejs/1.8.3/underscore-min.js"></script>
<script src="/webjars/bootstrap/4.1.1/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.serializejson.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/company.js"></script>
</html>
