<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="UTF-8" />
<title>公司基本資料</title>
<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
	<a th:href="@{/company}"></a>

	<form id="form1">
		<input type="text" name="companyId" value="20" />
		<input type="text" name="companyName" value="慶騰" />
		<br>
		<input type="button" onclick="queryAll()" value="查詢全部" disabled />
		<br>
		<input type="button" onclick="save()" value="新增" disabled />
		<br>
		<input type="button" onclick="findByCompanyId()" value="條件查詢 - findByCompanyId" />
		<br>
		<input type="button" onclick="findByCondition()" value="條件查詢 - findByCondition" />
	</form>
	
	<form id="form2">
		<table id="resultTable"></table>
	</form>
	
</body>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/company.js"></script>
</html>
