<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- 清單 -->
<div th:fragment="clients" class="mt-1">
	<div class="row" id="content">
		<div class="col-2">
			<div class="list-group" id="list-tab" role="tablist">
				<a th:each="client,itr: ${clients}" th:id="'#Clients_'+${itr.index}" class="list-group-item list-group-item-action" th:classappend="${itr.size eq 1 } ? 'active' :'' " role="tab" data-toggle="list" th:text="${client.shortName}" th:href="|#info_${itr.index}"></a>
			</div>
		</div>
		<div class="col-10">
			<div class="tab-content bg-light rounded" id="nav-tabContent">
				<div th:each="client,itr: ${clients}" class="tab-pane fade" th:classappend="${itr.size eq 1 } ? 'show active' :'' " th:id="'info_'+${itr.index}" role="tabpanel">
					<div class="w-100 p-1 d-flex table-info">
						<div class="mr-auto d-flex align-items-center">
							<b>客戶資料</b>
						</div>
						<div>
							<input class="btn btn-outline-warning" type="button" th:value="修改" th:onclick="'c.doEditModal(\'' + ${client.no} + '\')'">
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<Strong> <span th:text="${client.fullName}" /></Strong> <small><span th:text="|(${client.guiNumber})|" /></small> <span th:text="${client.address}" />
								<div class="float-right">
									<span class="phone" th:text="${client.phone}" />
								</div>
							</h5>
							<div th:if="${not #strings.isEmpty(client.memo)}">
								<hr class="my-1">
								<span th:utext="${client.memo}" />
							</div>
						</div>
					</div>
					<div th:include="tcompany/template :: charges"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 新增&修改 -->
<div th:fragment="model" class="mt-1">
	<div class="modal fade" id="model" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body" id="editContent">
					<div id="accordion">
						<div class="card">
							<div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<h5 class="mb-0">
									<button class="btn btn-link">客戶資料</button>
								</h5>
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<div class="form-row">
										<div class="form-group col-md-1">
											<input type="number" class="form-control required" id="edit-no" name="edit-no" pattern="\d*" maxlength="5" th:value="${client.no}" th:readonly="${type == 'edit'}" />
											<div class="text-danger hideValidator">
												<small>請輸入代碼</small>
											</div>
										</div>
										<div class="form-group col-md-2">
											<input type="text" class="form-control required" id="edit-shortName" th:value="${client.shortName}" />
											<div class="text-danger hideValidator">
												<small>請輸入簡稱</small>
											</div>
										</div>
										<div class="form-group col-md-6">
											<input type="text" class="form-control required" id="edit-companyDetail[fullName]" name="companyDetail[fullName]" th:value="${client.fullName}" />
											<div class="text-danger hideValidator">
												<small>請輸入全名</small>
											</div>
										</div>
										<div class="form-group col-md-3">
											<input type="text" class="form-control required" id="edit-companyDetail[phone]" name="companyDetail[phone]" maxlength="15" pattern="[0-9\-]+" th:value="${client.phone}" />
											<div class="text-danger hideValidator">
												<small>請輸入電話</small>
											</div>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-3">
											<input type="text" class="form-control" id="edit-companyDetail[guiNumber]" name="companyDetail[guiNumber]" pattern="\d*" maxlength="8" th:value="${client.guiNumber}" />
											<div class="text-danger hideValidator">
												<small>請輸入正確統編</small>
											</div>
										</div>
										<div class="form-group col-md-9">
											<input type="text" class="form-control required" id="edit-companyDetail[address]" name="companyDetail[address]" th:value="${client.address}" />
											<div class="text-danger hideValidator">
												<small>請輸入地址</small>
											</div>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-12">
											<textarea rows="3" class="form-control" id="edit-companyDetail[memo]" name="companyDetail[memo]" th:utext="${#strings.replace(client.memo,'<br/>','\n')}"></textarea>
											<script th:inline="javascript">
												/*
                                                <![CDATA[*/
                                                var memo = /*[[${client.memo}]]*/'';
                                                $('#edit-companyDetail\\[memo\\]').val(memo.replace("<br/>", "\n"));
                                                /*]]>
                                                 */
											</script>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed">客戶運費</button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="card-body">
									<div th:include="tcompany/template :: charges"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-success mr-auto hidden" id="addRowBtn" onclick="c.addChargeRow()">新增運費</button>
					<button type="button" th:classappend="${type == 'edit'} ? 'btn-warning' : 'btn-success'" class="btn" id="actionBTN" th:text="${type == 'edit'} ? '修改' : '新增'"></button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 公用運費 -->
<div th:fragment="charges">
	<div th:if="${not #lists.isEmpty(client.charges)}">
		<table class="table table-sm text-center">
			<thead class="table-info">
				<tr>
					<th scope="col">地點</th>
					<th scope="col">櫃子呎吋</th>
					<th scope="col">應收費用</th>
					<th scope="col">司機運費</th>
					<th scope="col">外調運費</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="charge,stat:${client.charges}">
					<td>
						<div class="d-flex justify-content-center ">
							<select class="selectpicker" data-width="auto" data-size="5">
								<option th:each="o:${destDDL}" th:text="${o.name}" th:value="${o.code}" th:selected="${o.code} == ${charge.dest}"></option>
							</select>
						</div>
					</td>
					<td>
						<div class="d-flex justify-content-center">
							<select class="selectpicker" data-width="auto">
								<option th:each="o:${sizeDDL}" th:text="${o.name}" th:value="${o.code}" th:selected="${o.code} == ${charge.size}"></option>
							</select>
						</div>
					<td>
						<div th:if="${type} == 'query'">
							<span class="number">[[${charge.pay}]]</span>
						</div>
						<div th:unless="${type} == 'query'">
							<input type="text" th:value="${charge.pay}" th:name="pay+${stat.index}" class="number" style="text-align: right" />
						</div>
					</td>
					<td>
						<div th:if="${type} == 'query'">
							<span class="number">[[${charge.fee}]]</span>
						</div>
						<div th:unless="${type} == 'query'">
							<input type="text" th:value="${charge.fee}" th:name="fee+${stat.index}" style="text-align: right" />
						</div>
					</td>
					<td>
						<div th:if="${type} == 'query'">
							<span class="number">[[${charge.os}]]</span>
						</div>
						<div th:unless="${type} == 'query'">
							<input type="text" th:value="${charge.os}" th:name="os+${stat.index}" class="number" style="text-align: right" />
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>