<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="UTF-8" />
<!-- common -->
<link href="/webjars/bootstrap/4.1.1/dist/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="/css/lib/iziToast.min.css" rel="stylesheet" media="screen" />
<link href="/css/lib/bootstrap-select.min.css" rel="stylesheet" media="screen" />
<link href="/css/lib/jquery.loading.min.css" rel="stylesheet" media="screen" />
<link href="/css/lib/common.css" rel="stylesheet" media="screen" />
<title>訂單</title>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-secondary text-white">Featured</div>
			<div class="card-body">
				<form>
					<div class="form-row">
						<div class="form-group col-md-6">
							<select class="selectpicker" data-live-search="true" title="請選擇客戶" data-width="100%">
								<option data-tokens="1">Hot Dog, Fries and a Soda</option>
								<option data-tokens="2">Burger, Shake and a Smile</option>
								<option data-tokens="3">Sugar, Spice and all things nice</option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<select class="selectpicker" data-width="100%">
								<option data-tokens="1">進口</option>
								<option data-tokens="2">出口</option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<select class="selectpicker" data-width="100%">
								<option data-tokens="1">20呎</option>
								<option data-tokens="2">40呎</option>
								<option data-tokens="3">40呎HQ</option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-2">
							<input type="text" class="form-control required" id="form3-shortName" placeholder="結關日" />
						</div>
						<div class="form-group col-md-4">
							<input type="text" class="form-control required" id="form3-shortName" placeholder="船公司" />
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-2">
							<label for="form3-shortName">領櫃場</label>
							<input type="text" class="form-control required" id="form3-shortName" required />
						</div>
						<div class="form-group col-md-2">
							<label for="form3-shortName">交櫃場</label>
							<input type="text" class="form-control required" id="form3-shortName" required />
						</div>
						<div class="form-group col-md-2">
							<label for="form3-shortName">費用</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><img src="images/dollar.png" width="20" height="20"></span>
								</div>
								<input type="text" class="form-control required" id="form3-shortName" required />
							</div>
						</div>
						<div class="form-group col-md-4 justify-content-center">
							<input type="button" class="btn btn-outline-secondary" onclick="cy.query();" value="查詢" />
							<input type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addModal" value="新增" />
							<input type="button" class="btn btn-outline-danger" value="刪除" data-toggle="modal" data-target="#deleteModal" />
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-2">
							<label for="form3-shortName">司機領櫃費</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><img src="images/dollar.png" width="20" height="20"></span>
								</div>
								<input type="text" class="form-control required" id="form3-shortName" required />
							</div>
						</div>
						<div class="form-group col-md-2">
							<label for="form3-shortName">司機交櫃費</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><img src="images/dollar.png" width="20" height="20"></span>
								</div>
								<input type="text" class="form-control required" id="form3-shortName" required />
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="form3-shortName">其他</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><img src="images/dollar.png" width="20" height="20"></span>
								</div>
								<input type="text" class="form-control required" id="form3-shortName" required />
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="form3-shortName">總費用</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><img src="images/dollar.png" width="20" height="20"></span>
								</div>
								<input type="text" class="form-control required" id="form3-shortName" readonly />
							</div>
						</div>
					</div>
					<div class="form-row text-right">
						<div class="form-group col-md-8"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<!-- common -->
<script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/underscorejs/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="/js/lib/popper.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.1.1/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.serializejson.min.js"></script>
<script type="text/javascript" src="/js/lib/skypeCheck.js"></script>
<script type="text/javascript" src="/js/lib/jquery.number.min.js"></script>
<script type="text/javascript" src="/js/lib/iziToast.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.loading.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/js/lib/i18n/defaults-zh_TW.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/Validator.js"></script>
<!-- asdsad -->
<!-- <script type="text/javascript" src="/js/template/companyTemplate.js"></script> -->
<script type="text/javascript" src="/js/order/order.js"></script>
</html>
