<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="UTF-8" />
<!-- common -->
<link href="/webjars/bootstrap/4.1.1/dist/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="/css/lib/iziToast.min.css" rel="stylesheet" media="screen" />
<link href="/css/lib/bootstrap-select.min.css" rel="stylesheet" media="screen" />
<link href="/css/lib/jquery.loading.min.css" rel="stylesheet" media="screen" />
<link href="/css/lib/common.css" rel="stylesheet" media="screen" />
<!-- <link href="/css/lib/bootstrap-datepicker.css" rel="stylesheet" media="screen" /> -->
<link href="/css/lib/bootstrap-datepicker3.min.css" rel="stylesheet" media="screen" />
<link href="/css/lib/fontawesome.css" rel="stylesheet" media="screen" />
<title>訂單</title>
<style>
.header-collapse {
	cursor: pointer;
}

.uppercase {
	text-transform: uppercase;
}
</style>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h5 class="mb-0 card-title">訂單設定</h5>
			</div>
			<div id="info" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<form>
						<div class="form-row">
							<div class="form-group col-md-2">
								<select class="selectpicker" data-live-search="true" data-live-search-style="startsWith" data-width="100%" id="info-client" title="請選擇" tabindex="1">
									<option th:each="client,iter: ${clients}" th:value="${client.get('0')}" th:text="${client.get('0')}+'-'+${client.get('1')}" th:title="${client.get('1')}"></option>
								</select>
							</div>
							<div class="form-group col-md-2">
								<select class="selectpicker" data-width="100%" id="info-size">
									<option value="1">進口</option>
									<option value="2">出口</option>
								</select>
							</div>
							<div class="form-group col-md-2">
								<div class="input-group ">
									<input type="text" class="form-control datepicker required" placeholder="結關日" id="closeDate">
									<div class="input-group-append">
										<label class="input-group-text" for="closeDate">
											<i class="far fa-calendar-alt"></i>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group col-md-3">
								<input type="text" class="form-control" id="info-carrier" placeholder="船公司" />
							</div>
							<div class="form-group col-md-3">
								<input type="text" class="form-control" id="info-carrier" placeholder="放置地點" />
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-2">
								<select class="selectpicker" data-live-search="true" data-live-search-style="startsWith" data-width="100%" id="leadingYard" title="領櫃地點">
									<!-- 									<option th:each="item,iter: ${cy}" th:attr="data-area=${item.get('3')}" th:value="${item.get('1')}" th:text="${item.get('1')}+'-'+${item.get('2')}" th:title="${item.get('0')}+'-'+${item.get('2')}"></option> -->
									<option th:each="item,iter: ${cy}" th:attr="data-area=${item.get('3')}" th:value="${item.get('1')}" th:text="${item.get('1')}+'-'+${item.get('2')}" th:title="${item.get('2')}"></option>
								</select>
							</div>
							<div class="form-group col-md-2">
								<select class="selectpicker" data-live-search="true" data-live-search-style="startsWith" data-width="100%" id="junctionYard" title="交櫃地點">
									<option th:each="item,iter: ${cy}" th:attr="data-area=${item.get('3')}" th:value="${item.get('1')}" th:text="${item.get('1')}+'-'+${item.get('2')}" th:title="${item.get('2')}"></option>
								</select>
							</div>
							<div class="form-group col-md-2">
								<select class="selectpicker" data-width="100%" id="info-size">
									<option value="0">20呎</option>
									<option value="1">40呎</option>
									<option value="1">40HQ</option>
									<option value="1">冷凍櫃</option>
								</select>
							</div>
							<div class="form-group col-md-3">
								<input type="text" class="form-control uppercase" pattern="[a-zA-Z]{4}-[0-9]{7}" id="info-containerNo" maxlength="11" placeholder="貨櫃號螞" />
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-12">
								<hr class="">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-2">
								<select class="selectpicker" data-width="100%" id="info-size">
<!-- 									<option value="0">20呎</option> -->
<!-- 									<option value="1">40呎</option> -->
									<option value="2">20呎/40呎</option>
								</select>
							</div>
							<div class="form-group col-md-3">
								<select class="selectpicker" data-live-search="true" data-width="100%" id="pay" title="領櫃運費">
								</select>
							</div>
							<div class="form-group col-md-2">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-dollar-sign fa-fw" style="color: #1E90FF;"></i>
										</div>
									</div>
									<input type="text" class="form-control required" id="lyfee" placeholder="應收運費" />
								</div>
							</div>
							<div class="form-group col-md-2">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-dollar-sign fa-fw" style="color: #1E90FF;"></i>
										</div>
									</div>
									<input type="text" class="form-control required" id="pay" placeholder="司機運費" />
								</div>
							</div>
							<div class="form-group col-md-2">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text" id="osSpan">
											<span><i class="far fa-square fa-fw" id="osChk"></i></span>
										</div>
									</div>
									<input type="text" class="form-control" aria-label="Text input with radio button">
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-3 offset-md-2">
								<select class="selectpicker" data-live-search="true" data-width="100%" id="sad" title="交櫃運費">
								</select>
							</div>
							<div class="form-group col-md-2 offset-md-2">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-dollar-sign fa-fw" style="color: #1E90FF;"></i>
										</div>
									</div>
									<input type="text" class="form-control required" id="pay" placeholder="司機運費" />
								</div>
							</div>
							<div class="form-group col-md-2">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-dollar-sign fa-fw" style="color: #1E90FF;"></i>
										</div>
									</div>
									<input type="text" class="form-control required" id="pay" placeholder="司機運費" />
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<!-- common -->
<script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/underscorejs/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="/js/lib/popper.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.1.1/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.serializejson.min.js"></script>
<script type="text/javascript" src="/js/lib/skypeCheck.js"></script>
<script type="text/javascript" src="/js/lib/jquery.number.min.js"></script>
<script type="text/javascript" src="/js/lib/iziToast.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.loading.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/js/lib/i18n/defaults-zh_TW.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/Validator.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/js/lib/i18n/bootstrap-datepicker.zh-TW.min.js"></script>
<script type="text/javascript" src="/js/lib/all.js"></script>
<script type="text/javascript" src="/js/lib/ContainerValidator.js"></script>
<!-- asdsad -->
<!-- <script type="text/javascript" src="/js/template/companyTemplate.js"></script> -->
<script type="text/javascript" src="/js/order/order.js"></script>
</html>
