<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- content -->
<div th:fragment="content">
	<div class="container">
		<div class="row mt-2">
			<div class="col-md-auto">
				<input type="text" class="form-control" placeholder="客戶簡稱" name="shortName" id="shortName" />
			</div>
			<input type="button" class="btn btn-outline-secondary" value="查詢" id="query" />
		</div>
		<table id="example" class="table table-striped table-bordered nowrap" style="width: 100%">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>